ion-header {

  text-align: center;

  ion-title {
    font-weight: bold;
  }

}

.error-message {
  color: var(--ion-color-danger);
  margin-left: 15px;
  font-size: small;
}

ion-item {
  padding-top: 10px;
  padding-bottom: 10px;

  ion-label {
    font-weight: bolder;
    font-size: large;
    color: darkblue;

    ion-input {
      color: #67568c;

    }
  }
}

ion-footer {
  ion-toolbar {
    ion-title {
      color: palevioletred;
      font-size: small;

      span {
        font-style: italic;
      }
    }
  }
}